<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="UTF-8">
		<title>Sign Up Form with live validation</title>
		<link rel="stylesheet" href="{{ url_for('.static', filename= './style.css') }}">
		
	</head>
	
	<body>

		<form action="{{ url_for('insertUser') }}" method="post" name="form_name">
			<h2>Sign Up</h2>
			<p>
					<label for="username" class="floatLabel">Username</label>
					<input id="username" name="username" type="text" required>
					<span>Enter a username longer than 6 characters</span>
			</p>
			<p>
					<label for="phone" class="floatLabel">Phone</label>
					<input id="phone" name="phone" type="text" required>
					<span>Enter a valid phone</span>
			</p>
			<p>
				<label for="email" class="floatLabel">Email</label>
				<input id="email" name="email" type="text" required>
				<span>Enter a valid email</span>
			</p>
			<p>
				<label for="password" class="floatLabel">Password</label>
				<input id="password" name="password" type="password" required>
				<span>Enter a password longer than 8 characters</span>
			</p>
			<p>
				<label for="confirm_password" class="floatLabel">Confirm Password</label>
				<input id="confirm_password" name="confirm_password" type="password" required>
				<span>Your passwords do not match</span>
			</p>
			<p>
				<input type="submit" value="Create My Account" id="submit">
			</p>
			<script src="{{ url_for('.static', filename= './jquery.js') }}"></script>
			<script src="{{ url_for('.static', filename= './script.js') }}"></script>
		</form>
		
	</body>
</html>
